<nav class="main-menu">
    <ul>
        <li>
                 <i class="fa"></i>
                <span class="nav-text">
                    <h1>{{projet.nom}}</h1>
                </span>
            
          
        </li>
        
        <li class="has-subnav">
            <a [routerLink]="['/backlog/'+projet.id]">
               <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Backlog
                </span>
            </a>
            
        </li>
        
        <li>
           <a routerLink="/kanban">
               <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Kanban
                </span>
            </a>
        </li>
        <li>
            <a href="#">
               <i class="fa fa-github fa-2x"></i>
                <span class="nav-text">
                    Github
                </span>
            </a>
        </li>
    </ul>
   </nav>