
<app-menu></app-menu>
<div id="contenu">
<div id="backlog">
    <h3 id="title">Sprint backlog</h3>

    
    
    <div cdkDropList id="sprint-Backlog" class="example-list" [cdkDropListData]="sprintBacklog"  [cdkDropListConnectedTo]="['backlogProject','sprint-Backlog1']"  (cdkDropListDropped)="drop($event)" >

        <div class="example-box" *ngFor="let  UserStory of sprintBacklog" cdkDrag>{{UserStory.userStory}}</div>
      </div>

</div>
<div id="backlog">
  <h3 id="title">Sprint2</h3>
  <div cdkDropList id="sprint-Backlog1" class="example-list" [cdkDropListData]="sprintBacklog1"  [cdkDropListConnectedTo]="['backlogProject','sprint-Backlog']" (cdkDropListDropped)="drop($event)" >
      <div class="example-box" *ngFor="let  UserStory of sprintBacklog1" cdkDrag>{{UserStory.userStory}}</div>
    </div>
</div>
<div id="backlog">
    <h3 id="title">Product backlog</h3>
    <div cdkDropList id="backlogProject" class="example-list" [cdkDropListData]="userstories" [cdkDropListConnectedTo]="['sprint-Backlog','sprint-Backlog1']"  (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let UserStory of userstories" cdkDrag>{{UserStory.userStory}}
          <i class="bi bi-trash" (click)="clickMethod(UserStory.userStory,UserStory.id)"></i>
    </div>
      </div>

      
        <form [formGroup]="formValue"aria-required="true">
          <button type="submit"id="button" (click)= "saveUserstory()">
            <i class="bi bi-plus-lg"></i>
            <span>Tache</span>
            </button>
                              
          <div class="form-group" >
            
              <input type="text" class="form-control" id="tache"  name="tache" formControlName="userStory" placeholder="Tache"  required>
              <br>
            </div>                            
        
          </form>
</div>
</div>
