#contenu{
  padding-top: 1%;
  margin-top: 0%;
    margin-left: 20%;
}


#backlog{
    background-color: #0A363F;
    width:72%;
    height: auto;
    border-radius: 7px;
    margin-top: 70px; 
    margin-left: 20px;  
    padding: 5px;
   
}
#title{
    color: white;
    padding-left: 5px;
    display: inline;
    margin-right: 20px;

}
.date{
  color: white;
  padding-left: 5px;
 
  display: inline;
  font-size: 12px;
}
#sprint-Backlog,#backlogProject{
  margin-top: 10px;
}


.example-list {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 30px;
    border-radius: 4px;
    display: block;
    background: white;
    overflow: hidden;
  }
  
  .example-box {
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  #button{
    background-color: #0A363F;
    border: none;
    color: white;
    width: 100%;
    text-align:left;
  }
  .button-box{
    padding: 5px 10px;
    background-color: #0A363F;
    font-size: 14px;
  }
 
#DemmarageSprint,.pull-right{
  border-radius: 5px;
  background:#FC7900;
  border-color:#FC7900;
  color: white;
  height: 30px;
}


  .Titre{
    margin-top: 10px;
    font-size: 20px;

}
#CreateProject{
    border-color: #0a363f;
    background-color:#0a363f;
    text-align: center;
    margin-top: 5%;
    margin-bottom:5%;
   
}
.label{
  font-size: 16px;
  color: #0A363F;
}

#btn{
    background-color: #0A363F;
    border-color:#0A363F ;
}
#cancel{
    background-color: white;
    border-color:#0A363F ;
    color: #0A363F;
}
.close{
    background-color: white;
    border-color: white;
}
#exampleModal{
    margin-top:60px;
}

.td > i{
    font-size: 22px;
}

.Titre{
    color: #0A363F;
}

.btn-primary.btn{
    background:#FC7900;
    border-color: #FC7900;
}

th{
    background-color: #0a363f;
    color: #ffffff;
    text-align: left;
}
.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FC7900;
}




/* Dropdown Button */
.dropbtn {
  margin-left: 10px;
  background-color:white;
  color: #0a363f;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/