label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  box-sizing: border-box;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.col-md-12{
  width: 900px;
  height: 530px;
  background-color: white;
  display: flex;
  box-shadow: 15px 0px 15px 5px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

#div-bg {
  background: url('/assets/project+.jpg') ;
  background-size: cover;
  background-position-y: 50%;
  width: 80%;
  height: 100%;
}